In [2]:
def greet_user():
    name = input("Please enter your name: ")
    print(f"Hello, {name} ! Nice to meet you.")

In [3]:
greet_user()

Please enter your name:  sanjana

Hello, sanjana ! Nice to meet you.

In [6]:
# Example 
def func(name, age, gender):
    print(f"hello my name is {name} my age is {age} my gender is {gender}")

In [7]:
func(age = 21, name = "sanjana", gender = "Female")

hello my name is sanjana my age is 21 my gender is Female

In [8]:
func("raj",30,"male")

hello my name is raj my age is 30 my gender is male

In [9]:
func(gender = "female", name ="pooja", age = 22)

hello my name is pooja my age is 22 my gender is female

In [15]:
# Example with Default Arguments
def book_flight(departure, Destination, set_class = "Economy", meal_pref = "Standard"):
    print(f"Booking a flight from {departure} to {Destination} in {set_class} class with a {meal_pref} meal.")

In [16]:
book_flight(departure = "New York", Destination = "london")

Booking a flight from New York to london in Economy class with a Standard meal.

In [ ]:
*args: syntax is used to pass a variable number of positional arguments to a function . when *args is used

In [19]:
# *arr
def func20(*num):
    z = num[0]+num[1]+num[2]+num[3]
    print(z)

In [20]:
func20(10,20,30,40)

100

In [22]:
def func10(*num):
    z = num[0]+num[1]+num[2]
    print(z)

In [23]:
func10(5,6,7,8,9,2)

18

In [24]:
# Example for adding a numbers 
def add_numbers(*a):
    x = sum(a)
    print(x)

In [27]:
add_numbers(2,4,7)
type(add_numbers)

13

function

In [31]:
# find teh maximum value 
def find_max(*args):
    return max(args)

In [32]:
print(find_max(4,9,2,8,6))

9

In [33]:
# Concatenate String
def concatenate_string(*args):
    return " ".join(args)

In [34]:
concatenate_string("Hello","world","!")

'Hello world !'

In [35]:
def concatinate_string(*args):
    return " ".join(args)

In [37]:
concatinate_string("welcome","to","the","python","programming")

'welcome to the python programming'

### *kwargs: Arbitray key arguments

In [45]:
def fun(**a):
    print(type(a))
    for i,j in a.items():
        print(f"this is a key {i} this is a value {j}")

In [46]:
fun(name = "sanjana", age = 21)

<class 'dict'>
this is a key name this is a value sanjana
this is a key age this is a value 21

### Types of Varibales in Functions

Local Variables:
 variables thata are declared inside a function and can only be accesed with in a function 
 they exist only while the function is being executed and are destroy once in the funcation

Global function:
 Variable declared outside a function and can be accessed both inside and outside any function
 Global Variable are accessible throught the program

### Nested Function

In [ ]:
A Nested function is a function defined inside another function.

In [55]:
def outer_fun():
    print("Hello")
def inner_fun():
        print("World")


outer_fun()
inner_fun()

Hello
World

### Deleting a Function

In [50]:
def my_function():
    print("Hello, World!")

In [51]:
my_function()

Hello, World!

In [52]:
del my_function

In [53]:
my_function()

NameError: name 'my_function' is not defined

### Lambda Function in python

In [59]:
ba = lambda a,b,c : a+b+c

In [60]:
ba(20,30,40)

90

In [63]:
a = lambda c : c*20

In [64]:
a(2)

40