## Dictionary

In [1]:
# unique key
my_dict = {"name": "Sanjana","age": 21, "age":55,"age":88}
my_dict

{'name': 'Sanjana', 'age': 88}

In [2]:
# immutable keys
my_dict = {(1,2): "point","name":"alice"}
print(my_dict)

{(1, 2): 'point', 'name': 'alice'}

In [3]:
my_dict1 = {1,"hello"}

In [5]:
my_dict2 = {[1,2]: "hello"}

TypeError: unhashable type: 'list'

## keys and values in python dictionary

In [8]:
# Accessing a value by key 
my_dict = {
    "name": "sanjana",
    "age": 21,
    "hobbies": ["reading","cooking"],
    "education": {"degree": "BCA","year": 2025}}

In [10]:
my_dict["age"]

21

In [11]:
my_dict["hobbies"]

['reading', 'cooking']

In [12]:
my_dict["education"]

{'degree': 'BCA', 'year': 2025}

In [13]:
# Using the get() method:
my_dict = {"name": "sanjana","age": 21}
my_dict["age"]

21

In [14]:
my_dict.get("age")

21

In [15]:
my_dict.get("name")

'sanjana'

In [16]:
print(my_dict.get("name"))
print(my_dict.get("city"))

sanjana
None

In [22]:
# Accessing all keys:
my_dict = {"name": "sanjana","age": 21,"city":"India"}
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [21]:
# Accessing all key-value pairs 
my_dict = {"name": "sanjana","age": 21,"city":"India"}
my_dict.values()

dict_values(['sanjana', 21, 'India'])

In [23]:
# accessing all keys-value pairs
my_dict

{'name': 'sanjana', 'age': 21, 'city': 'India'}

In [24]:
my_dict.items()

dict_items([('name', 'sanjana'), ('age', 21), ('city', 'India')])

In [25]:
# Iterating over keys and Values
my_dict = {"name": "Sanjana","age": 21,"city":"India"}
for i in my_dict:
    print(i)

name
age
city

In [27]:
# Iterating over values
for j in my_dict.values():
    print(j)

Sanjana
21
India

# iterating over key-value pairs
for i,j in my_dict.items():
    print(f"{i}: {j}")

### Nested Dictionary in python

In [44]:
nested_dict = {
    "person1": {
        "name": "Sanjana",
        "age": 21,
        "city": "India"
    },
    "person2": {
        "name": "Bob",
        "age": 35,
        "city": "New York"
    }
}

In [45]:
nested_dict

{'person1': {'name': 'Sanjana', 'age': 21, 'city': 'India'},
 'person2': {'name': 'Bob', 'age': 35, 'city': 'New York'}}

### Accesisng element in a Nested Dictionary

In [46]:
print(nested_dict["person2"]["name"])

Bob

In [47]:
nested_dict

{'person1': {'name': 'Sanjana', 'age': 21, 'city': 'India'},
 'person2': {'name': 'Bob', 'age': 35, 'city': 'New York'}}

In [48]:
# updating the age of person1
nested_dict["person1"]["age"] = 55

In [49]:
nested_dict

{'person1': {'name': 'Sanjana', 'age': 55, 'city': 'India'},
 'person2': {'name': 'Bob', 'age': 35, 'city': 'New York'}}

### Adding a new dictionary to a nested dictionary

In [52]:
nested_dict["person4"] = {
        "name": "Diana",
        "age": 28,
        "city": "Bostan"
    }

In [53]:
nested_dict

{'person1': {'name': 'Sanjana', 'age': 55, 'city': 'India'},
 'person2': {'name': 'Bob', 'age': 35, 'city': 'New York'},
 'person4': {'name': 'Diana', 'age': 28, 'city': 'Bostan'}}