TUPLE

In [ ]:
Oredr:

In [ ]:
Immutable :

In [2]:
my_tuple = (1,2,3)

In [3]:
my_tuple[0] =2225

TypeError: 'tuple' object does not support item assignment

In [4]:
# Hetero genious
my_tuple = (1,"hello", 3,14)
print(my_tuple)

(1, 'hello', 3, 14)

In [16]:
# Indexing and slicing
my_tuple = (10,20,30,40,50)
print(my_tuple[2])
print(my_tuple[1:4])

30
(20, 30, 40)

In [17]:
my_tuple[2]

30

In [18]:
# Packing and Unpacking
my_tuple = 1,2,3

In [19]:
type(my_tuple)

tuple

In [20]:
#packing
my_tuple = 1,2,3
print(my_tuple)

(1, 2, 3)

In [23]:
# Example 1
# creating a tuple:
person =("Sanya" , 21, "Engineer")
print(person)

('Sanya', 21, 'Engineer')

In [26]:
# Example 2
coordinates =(10,20,30)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
print(x,y,z)

10 20 30

In [29]:
l = [[1,2,3,4],[5,6,7,8,[1,2,3,4]]]

In [33]:
l = [0][0]

In [34]:
l

0

In [38]:
# Example 3: Nested tuples 
nested_tuple = (1,(2,3) ,(4,(5,6)))

In [40]:
nested_tuple[1][1]

3

In [41]:
# creating a tuple
my_tuple = (12, 14, 16, 18)

In [47]:
slice_1 = my_tuple[1:3]
slice_2 = my_tuple[:4]
slice_3 = my_tuple[2 :]

In [48]:
print(slice_1)
print(slice_2)
print(slice_3)

(14, 16)
(12, 14, 16, 18)
(16, 18)

In [56]:
# Question
fruits = ("apple","banana","cherry","date","elderberry")
cherry = fruits[2]
print(cherry)

cherry

In [57]:
# Question 2
numbers = (10,20,30,40,50)
first_three = numbers[:3]
print(first_three)

(10, 20, 30)

In [61]:
# Question 3
colors = ("red","green","blue","yellow","purple")
color = colors[-1]

In [62]:
print(color)

purple

In [64]:
# question 4
nested_tuple = (1,(2,3),(4,(5,6),7),8)
five = nested_tuple[2][1][0]
print(five)

5

In [81]:
# Original tuple 
fruits = ("apple","banana","cherry")

In [82]:
type(fruits)

tuple

In [83]:
a = list(fruits)

In [84]:
type(a)

list

In [85]:
a.append("Mango")
a

['apple', 'banana', 'cherry', 'Mango']

In [86]:
b = tuple(a)
b

('apple', 'banana', 'cherry', 'Mango')

In [87]:
tuple(b)

('apple', 'banana', 'cherry', 'Mango')

In [89]:
tuple(a)

('apple', 'banana', 'cherry', 'Mango')

In [90]:
# Concatenate slice of tuple:
fruits = ("apple","banana","cherry")

In [93]:
fruits_new = fruits[:1] + ("blueberry",) + fruits[2:]
print(fruits_new)

('apple', 'blueberry', 'cherry')

In [94]:
#Using Concatenation to add elements:
fruits = ("apple","banana","cherry")

In [95]:
fruits1 = fruits + ("date",)

In [96]:
print(fruits1)

('apple', 'banana', 'cherry', 'date')

In [ ]:
index:

In [100]:
my_tuple = ('a','b','c','d','e')

In [101]:
my_tuple.index("e")

4

In [102]:
my_tuple.index("c")

2

python functions on tuple:

In [104]:
# len()  -----------> Returns the number of elements in tuple
my_tuple = (10,20,30,40,50)
length = len(my_tuple)
print(length)

5

In [108]:
# max()   ----------> Returns the maximum values in a tuple
my_tuple = (1,2,44,5,98,0,55)
maximum = max(my_tuple)
print(maximum)

98

In [112]:
# min()   ------------> Returns the minimum values in a tuple
my_tuple = (1,2,44,5,98,55)
minimum = min(my_tuple)
print(minimum)

1

In [116]:
# sorted()
t = (1,2,45,6,8,8)
sorted(t)

[1, 2, 6, 8, 8, 45]

In [117]:
# any()
my_tuple = (0,0,0)
result = any(my_tuple)
print(result)

False

In [124]:
# Questions 
scores = (88,76,92,85,79)
max(scores)

92

In [125]:
min(scores)

76

In [133]:
# Question 2
cities =("New York","Los Angeles","Paris","London","Tokyo")
is_paris_in_tuple = "Paris" in cities
print(is_paris_in_tuple)

True