DAY 2 25-04-2025 FRIDAY

In [ ]:
DICTIONARY :  it is unorder collection of key- values pair enclosed in curly braces keys is immutable

In [ ]:
strings : once we create we cannot be changed the values we can deleted

In [3]:
student = {"name":"sanjana" , "age":21, "major":"computer science"}
prices = {"apple":1.2, "banana": 0.5, "cherry":2.5}
print(student)

{'name': 'sanjana', 'age': 21, 'major': 'computer science'}

In [ ]:
student = {"name":["raj"],"alice"],"Age":[20,22]}

In [4]:
print(student)

{'name': 'sanjana', 'age': 21, 'major': 'computer science'}

In [ ]:
variables: it is a named location memory

In [4]:
1ab = 10

SyntaxError: invalid decimal literal (213241377.py, line 1)

In [5]:
ab

10

In [7]:
AB = 20

In [8]:
AB

20

In [10]:
_ab = 10

In [11]:
_ab

10

In [ ]:
_AB = 5

In [11]:
MyVariable = 225

In [12]:
MyVariable

225

In [9]:
Myvariable = 330

In [10]:
Myvariable

330

python key words

In [30]:
for_4 = 44

In [29]:
for_4=23

In [14]:
is = 225

SyntaxError: invalid syntax (644637640.py, line 1)

In [ ]:
Variables names should be descriptive and meanigful,providing some indlication of the purpose or content of the variables
 Example  : total_sales = 5000 (descriptive,indicationg the total sales amount)

In [15]:
#Example 1
variable_name = 10

In [16]:
variable_name

10

In [18]:
#Example 2 
user_age = 21
user_Age = 25

In [19]:
user_age

21

In [20]:
user_Age

25

In [ ]:
#Example 3 : python keyword cannot be used as variablenames
# for = 10 #invalid, 'for' is a keyword

In [ ]:
# Example 4 : Variable name should be descriptive 
total_sales = 5000 # descriptive name

In [ ]:
list for in True False tuple

In [ ]:
# Example 5  : Avoid using built in function/module names 
list = [1,2,3] # avoid using "list', which is a built-in type

In [ ]:
# Example 6: Underscores can be used to separate multiple words
average_score = 85  # uses underscores

In [ ]:
# Example 7: use lowercase letters for variable names
item_count = 42 # fpllows convention of using Lowercase

In [ ]:
# Example 8: Consistent naming style
user_name = "Sanjana"
user_age = 21
user_email = "sanjana123@example.com"

Avoid using builtin function or modules names as variables names to prevent conflict and confusion

In [ ]:
list = 55

In [ ]:
tuple = 66

In [ ]:
list

In [ ]:
Underscore can be used to separate multiple words in a variable name , such as "my_variable" or "total_count"

In [ ]:
average_score = 25

Comments : A Comment is note in the code the is ignored by the interpreted and used to explain or annotaed the code for human readers
Explanation : Comments help imporve code readability and maintainability by providing explanations or context for the code

In [31]:
""" my name is sanjana
a multilline comment 
and ia am """

' my name is sanjana\na multilline comment \nand ia am '

In [34]:
"sanjana"

'sanjana'

KEYWORDS : A keyword is a reserved word in python that has apredefined meaning and cannot be used as ana identifiers (such as variable or function  name)
Explanation  : keyword are fundamental to the syntax and structure of the language, controlling the flow and behavior of code

In [36]:
Example : 
#'if' is a keyword used for conditional statement 
if True:
    print("this is a keyword")

this is a keyword

In [37]:
if for in False True else

SyntaxError: invalid syntax (3097183176.py, line 1)

In [38]:
if = 0

SyntaxError: invalid syntax (2990096196.py, line 1)

IDENTIFIERS :  An identifiers is a name used to identify a variable, function, class, module, or other object in python 
Explanation : Identifiers must start with a letters (a-z,A-Z) or an underscore(_),followed by letters, numbers, or underscores, and must not be a reserved keyword

In [39]:
name = "raj"
print(name)

raj

User input : the input() function in python reads a line of text from the user and returns it as a string 
Explanation : it allows the program to receive input from the user during execution

In [ ]:
Example : 
# prompting the user for their name 
name = imput("Enter your name: ")

In [ ]:
name = input("sanjana")

In [ ]:
type(name)

In [45]:
name=input("Enter the name:")
print("hello",name)

Enter the name: sanjana

hello sanjana

In [46]:
name

'sanjana'

In [47]:
name=input("my clg name is:")
print("hello",name)

my clg name is: mcu

hello mcu

In [50]:
name=input("Enter User name:")
print("user name is:",name)

Enter User name: sanjana

user name sanjana

In [54]:
name=input("Enter password:")
print("password:",name)

Enter password: sanyash19

password: sanyash19

In [55]:
input("enter the user name")

enter the user name sanjana

'sanjana'

In [56]:
user_name = input("Enter the password")

Enter the password sanaysh99

In [64]:
num1 = int(input("enter the first numbers"))

enter the first numbers 40

In [65]:
num1

40

In [66]:
type(num1)

int

In [67]:
num1 = int(input("enter the first numbers"))

enter the first numbers 50

In [68]:
num2

50

In [69]:
num1 + num2

90

In [71]:
num1 = float(input("enter the first numbers"))
num2 = float(input("enter the second numbers"))

enter the first numbers 4.0
enter the second numbers 5.0

In [78]:
num = int(input("Enter the first number: "))
num = int(input("Enter the second number: "))

result = num1 + num2
add = num1+num2
sub = num1-num2
mul = num1*num2
div = num1/num2
print("sum is ", sum)
print("difference is ",sub)
print("product is ", mul)
print("ratio is ", div)

Enter the first number:  6
Enter the second number:  4

sum is  <built-in function sum>
difference is  -1.0
product is  20.0
ratio is  0.8